<html>
	<head>
                <meta charset="UTF-8">
		<title> Iniciar sesión </title>
		<script src="scripts/requests.js"></script>
		<script src="scripts/validations.js"></script>
		<script src="scripts/wscalls.js"></script>
		<script src="scripts/errSys.js"></script>
		<script src="scripts/util.js"></script>
		<script src="scripts/handlerEvents.js"></script>
		<script src="scripts/aes.js"></script>
		<script src="scripts/encryption.js"></script>
		<link rel="stylesheet" type="text/css" href="css/login_style.css">
	</head>
	<body>
		<form name="login_form" id="login_form" method="GET"> 
                <div style="text-align:center;">
                <img src="images/esime.png" width=170 height=150 id="login_image_logoipn" alt="">
                <br><br>
		<table  style="margin: 0 auto;">
                    <tr>
                        <td colspan="2"><input type="text" placeholder="    Introduce usuario" name="login_form_user" id="login_form_user" class="login_form_class"/></td>
                        <td><div id="login_form_user_errMsg"></div></td>                    
                    </tr>
		    <tr>
                        <td colspan="2"><input type="password" placeholder="&#9919; Introduce contrase&ntilde;a"  name="login_form_passwd" id="login_form_passwd" class="login_form_class"/></td>
			<td><div id="login_form_passwd_errMsg"></div></td>                 
                    </tr>
		    <tr>
			<td colspan="2" style="text-align:right;">
                            <input type="button" name="login_form_submitlogin" id="login_form_submitlogin" class="login_form_form_submitlogin" value="Iniciar sesion" 
                                   onClick="var user_err_tag='login_form_user_errMsg'; 
			           var user_value=document.getElementById('login_form_user').value; 
				   var passwd_err_tag='login_form_passwd_errMsg'; 
				   var passwd_value=document.getElementById('login_form_passwd').value; 
					 var passwdEncrypted = encryptAES(passwd_value);
				   var allOK = true;

				   clearDivFields(user_err_tag, passwd_err_tag);
				   /* 1. First make form validations */
				    if (validateNotNull(user_err_tag, user_value, passwd_err_tag, passwd_value)) {
						resp = validateUserGenQR(user_value, passwdEncrypted, 'login');

						if (resp['errCode'] != null && isNaN(resp['errCode'])) {
							utils_show_image_in_div(resp['errCode'], 300, 300, 'QR image', 'login_form_result');	
							msg = 'Image generated';
							allOK = true;
						} else {
							respStr = ''+resp;
							msg = errSystemOwn[respStr];
							utils_show_message_in_div('login_form_result', msg);
							alert(msg);
							allOK = false;
						}
						if (allOK == true) {
							alert(_WAITING_FOR_LOGIN);
							waitForFinishOp(user_value, 'login', resp['conn'], handlerEventAfter, 'wait_form_result', _OP_LOGIN_SUCCESS, 
							'controller.php?controller=User&format=json&method=loginInOwncloud&uid='+user_value+'&passwd='+passwdEncrypted+'&token=');
							utils_show_message_in_div('wait_form_result', _WAITING_FOR_LOGIN);
							disable_object('login_form_submitlogin');
							disable_object('login_form_user');
							disable_object('login_form_passwd');
						}	

					 }"/>
                        </td>
		    </tr>
                    <tr>
                        <td colspan="2"><strong><font color=red><a href="resetpasswd.html">&#191;olvidaste tu contrase&ntilde;a?</a></font></strong></td>                 
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:left;">
				<input type="button" name="login_form_registerUser" id="login_form_registerUser" class="login_form_registerUser" value="Registrarse" onClick="
						var user_value=document.getElementById('login_form_user').value; 
						if (cancelOpInProgress(user_value, 'login', 'cancel') ) {redirect('signup.html')}"/>
                        </td>     
                        <td colspan="2" style="text-align:right;">
                            <input type="button" name="login_form_deleteUser" id="login_form_deleteUser" class="login_form_deleteUser" value="Eliminar usuario" onClick="
					    var user_value=document.getElementById('login_form_user').value; 
				  	    if (cancelOpInProgress(user_value, 'login', 'cancel') ) {redirect('deleteusers.html')}""/>
                        </td> 
                    </tr>
		    <div id="login_form_result"><!-- Ajax response --></div>
		</table>
		   <div id="wait_form_result"><!-- Ajax response --></div>
                    </div>
		</form>
   </body>
</html>
